
.main{
    margin-top: 100px;

}

.logoflex{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.Flex-wrapper{
    display: flex;
    justify-content: center;

}
.btn{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 24px;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.search-input{
    width: 400px;
    border-radius: 24px;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px

}