body {
    background-color: beige;
}
h1 {
    text-align: center;
    text-transform:capitalize
}
#gås{
   display: block;
    margin-left: auto;
    margin-right: auto;
}
#test{
    text-align: center;
    font-size: 25px;
    margin-top: -20px
    background;color: rgb(201, 114, 67);
}
