h1{ 
    display: flex;
    justify-content: center;
    color:white;
    margin: 0;

   
}

h2{
    display: flex;
    justify-content: center;
    background-color: rgb(213, 146, 78);
    color:white;
    margin: 0px;
}

p{
    display: flex;
    justify-content: center;
    background-color: rgb(213, 146, 78);
    color: white;
    margin: 0;
}
header{

    background-color: rgb (213, 146, 78);
    padding: 10px 0px;
    margin: 0;

}

body {
    background-image: url("cookiebck.jpg");
    padding: 0;
    margin:0; 

}

#kjeksbck{
    display: block;
    width: 20vw;
    margin: 0 auto 20px;
}

#btn{
    display: flex;
    justify-content: center;
    
    
}
    

#btnclick{
    width: 150px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    border-radius: 10px;
    margin-left: 75px;
    margin-bottom: auto;
    background-color: antiquewhite;


}

#saveBtn{
    width: 150px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: green;
    border-radius: 10px;
    margin-right: 75px;
    margin-left: 10px;
    margin-bottom: auto;
    background-color: antiquewhite;
}